[submodule "components/http"]
	path = components/http
	url = git@github.com:artipie/http.git
[submodule "components/http-client"]
	path = components/http-client
	url = git@github.com:artipie/http-client.git
[submodule "components/asto"]
	path = components/asto
	url = git@github.com:artipie/asto.git
[submodule "adapters/docker-adapter"]
	path = adapters/docker-adapter
	url = git@github.com:artipie/docker-adapter.git
[submodule "adapters/maven-adapter"]
	path = adapters/maven-adapter
	url = git@github.com:artipie/maven-adapter.git
[submodule "artipie"]
	path = artipie
	url = git@github.com:artipie/artipie.git
[submodule "components/management-api"]
	path = components/management-api
	url = git@github.com:artipie/management-api.git
[submodule "components/vertx-server"]
	path = components/vertx-server
	url = git@github.com:artipie/vertx-server.git
[submodule "components/files-adapter"]
	path = components/files-adapter
	url = git@github.com:artipie/files-adapter.git
[submodule "adapters/npm-adapter"]
	path = adapters/npm-adapter
	url = git@github.com:artipie/npm-adapter.git
[submodule "ppom"]
	path = ppom
	url = git@github.com:artipie/ppom.git
